{erl_opts, [debug_info]}.
{deps, [
	{elli, {git, "https://github.com/knutin/elli.git"}},
	{brod, {git, "https://github.com/klarna/brod.git", {branch, "2.2.6"}}},
	{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
	{worker_pool, {git,"https://github.com/inaka/worker_pool.git",{branch, "3.1.0"}}},
	{uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "v1.7.3"}}}
]}.

{relx, [{release, {"zataas", "0.0.1"},
         ["zataas"]},

        {dev_mode, true},
        {include_erts, false},
        {vm_args,"config/vm.args"},
        {sys_config,"config/dev.config"},
        {extended_start_script, true}]}.