

[
{zataas, [
          {server_port, 8000},
          {environment_mode, testing},
          {server_priv_key, "/certs/server_cert_key.pem"},
          {server_cert, "/certs/server_cert.pem"},
          {server_ca_cert, "/certs/server_ca_cert.pem"},
          {server_domain, "test.imxam.com"},
          {ios_apns_connection_name, imxam_apns_connection},
          {clustering, undefined},
          {kafka_workers_amount,10000}
         ]},
{lager, [
          {handlers, [
                      {lager_console_backend, [info, {lager_default_formatter, [time, color, " [",severity,"] ", message, "\n"]}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
                                            {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
                      {lager_file_backend, [{file, "console.log"}, {level, info}]}
                     ]},
          {error_logger_hwm, 20000},
          {colored, true}
         ]
},
{brod,
   [
     {clients, [
               {brod_client, [
                             {endpoints,
                                 [
                                 {"localhost", 9092}]},
                                 {config, [
                                          {reconnect_cool_down_seconds, 10}
                                          ]
                                 }
                                 ]
               }]
     },
     {auto_start_producers, true},
     {default_producer_config, []}
   ]
}].
